
body {
    font-family: Roboto, sans-serif;
    margin : 0;
}

/* Header part */

.Logo {
    display: flex;
    font-size: 24px;
    color: white;
    margin-left: 150px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    flex-shrink: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-left: auto;
    align-items: center;
    margin-right: 150px;
}

.headers {
    display: flex;
    padding-bottom: 70px;
}


.Top {
    background-color: #1F2937;
    justify-content: center;
}


.placeholder {
    align-self: center;
    justify-content: center;
    padding: 120px;
    background-color: grey;
    color: white;
    margin-left: auto;
    margin-right: 150px;
    
}


.text.header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    align-items: flex-end;
    margin-left: 150px;
    width: 500px;
}

.texts {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 150px;
    width: 450px;
    color: #F9FAF8;
}


.but-one {
    margin-left: 150px;
}



.but-one {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}


.Info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section_two {
    display: flex;
    padding-bottom: 50px;
}

/* 2nd part */

.header_info {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid blue;
}

.img-container {
    display: flex;
    flex-direction: column;
    width: 140px;
    text-align: center;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 20px;
}

/* 3rd Part */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#quote  {
    font-size: 32px;
    font-style: light italic;
    color: #1F2937;
    width: 700px;
    padding: 45px;
}

.name {
    font-weight: bold;
}

/* 4th Part */

.but-two {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid white;
}

.cont-add {
    background-color: #3882F6;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 700px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.lines {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    color: white;
}

.line_one {
    font-weight: bold;
    font-size: 20px;
}

/* 5th Part */

.copyright {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-self: center;
    padding: 30px;
}